body {
  font-family: sans-serif;
}

z-phrase {
  background-color: rgba(33, 33, 33, 0.7);
  bottom: 0;
  color: #fff;

  left: 0;
  mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0)), linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
  padding: 0.5rem 2rem 2rem;
  position: fixed;
  height: 8rem;
  max-height: 40%;
  width: calc(100% - 4rem);
}
